<agm-map [latitude]="lat" [longitude]="lng" [zoom]= "zoom" >
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<div style="margin-top: 10px"></div>
<div class="card">
  <h3 class="card-header" style="background-color:firebrick;color:white">
    <span>Contáctenos</span>
  </h3>
  <div class="card-block">
    <h4 class="card-title" > <span class="badge badge-default" >Teléfonos</span></h4 >
    <p class="card-text">
     (506) 2280 4363
    </p>
    <p class="card-text">
     (506) 2225 3353
    </p>
  </div>
  <div class="card-block">
    <h4 class="card-title" > <span class="badge badge-default" >Email</span></h4 >
    <p class="card-text">
     info@vidajovencr.org
    </p>
  </div>
</div>
