<div class="row">
    <div class="col-md-8">
      <div class="card">
        <h3 class="card-header"style="background-color:#5bc0de;color:white"><span>¿Quiénes Somos?</span></h3>
        <div class="card-block">
          <h4 class="card-title"></h4>
          <p class="card-text">
            La Asociación Young Life (Vida Joven), es una organización que trabaja con adolescentes alrededor del mundo.
          </p>
          <p class="card-text">
            Nuestro interés principal consiste en desarrollar relaciones de amistad genuinas con los adolescentes, vamos donde ellos están, escuchamos sus historias y aprendemos lo que es importante para ellos, porque nos interesa conocer sus triunfos, alegrías, luchas y frustraciones.
          </p>
          <p class="card-text">
            Amamos a los jóvenes sin importar sus respuestas. Creemos en el poder que tiene estar presentes en sus vidas, por eso los líderes caminan al lado de ellos, compartiendo el amor que Dios les tiene. Gracias a que el líder de Vida Joven cree en ellos, los jóvenes empiezan a reconocer que sus vidas tienen un gran valor, significado y propósito.
          </p>
          <p class="card-text">
            Las decisiones que estos jóvenes tomen hoy, basadas en el amor que Dios les tiene, van a tener un impacto en sus decisiones futuras como: la carrera que estudiarán, matrimonio, trabajos, etc. Por eso creemos en la importancia de que el líder invierta tiempo con el joven, comparta la verdad sobre Jesús y lo acompañe durante su adolescencia.
          </p>
        </div>
      </div>
      <br>
      <div class="card">
        <h3 class="card-header"style="background-color:#fe9d0a;color:white"><span>Actividades</span></h3>
        <div class="card-block">
          <h4 class="card-title"><span class="badge badge-default">Club</span></h4>
          <p class="card-text">
            Es una reunión semanal llena de energía y diversión. Es un tiempo donde se puede conocer gente, vacilar, jugar, ver obras de teatro chistosas y escuchar un mensaje sobre el amor de Dios.
          </p>
        </div>
        <div class="card-block">
          <h4 class="card-title"><span class="badge badge-default">Campamentos</span></h4>
          <p class="card-text">
            Para muchos son los mejores 4 días de sus vidas! La aventura y la diversión hacen de éste un tiempo inolvidable. Es un ambiente propicio para que los líderes y jóvenes desarrollen una relación de amistad, donde a través del mensaje de Jesucristo, los jóvenes van a ser escuchados y motivados a reflexionar sobre sus vidas y sus relaciones con otras personas.
          </p>
        </div>
        <div class="card-block">
          <h4 class="card-title"><span class="badge badge-default">Discipulado</span></h4>
          <p class="card-text">
            Es un espacio donde los jóvenes pueden hablar sobre asuntos más profundos sobre la fe y los retos que se presentan durante esa etapa. Consiste en un estudio bíblico semanal que anima a los jóvenes a crecer en su fe a través del estudio, el servicio y el liderazgo.
          </p>
        </div>
        <div class="card-block">
          <h4 class="card-title"><span class="badge badge-default">Otros</span></h4>
          <p class="card-text">
            Mega clubs, paseos, campeonatos de fútbol, fiestas, etc.
          </p>
        </div>
      </div>
      <br/>
      <div class="card">
        <h3 class="card-header"style="background-color:#5cb85c;color:white"><span>Historia</span></h3>
        <div class="card-block">
          <h4 class="card-title"></h4>
          <p class="card-text">
            Young Life (Vida Joven) nació en Texas, Estados Unidos en 1941 por el fundador Jim Rayburn, quien asumió el reto de acercarse a jóvenes desinteresados en conocer de Dios y desinteresados en asistir a una iglesia, de una manera personal y dinámica.
          </p>
          <p class="card-text">
            En 1981,se llevó a cabo el primer club de Vida Joven, que estaba bajo la responsabilidad de Vilma Delgado, Oldemar Escamilla y Marvin Asfahl.
          </p>
          <p class="card-text">
            Actualmente tiene presencia en más de 70 países alrededor del mundo.
          </p>
        </div>
      </div>
    </div>
  <div class="col-md-4">
    <div class="card">
      <img style="width: 400px; text-align: left" src="../../../assets/img/Quienes1.jpg"/>
      <img style="width: 400px; text-align: left" src="../../../assets/img/Quienes2.jpg"/>
      <img style="width: 400px; text-align: left" src="../../../assets/img/Quienes3.jpg"/>
      <img style="width: 400px; text-align: left" src="../../../assets/img/Quienes4.jpg"/>
    </div>
  </div>
</div>



