<nav class="navbar navbar-toggleable-md navbar-light   bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">
   <img src="/assets/img/Logo_YL.png" width="120" height="30" alt="" [routerLink]= "['home']">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive= "active">
        <a class="nav-link"[routerLink]= "['Quienes']" >¿Quienes Somos?</a>
      </li>
      <li class="nav-item"  routerLinkActive= "active">
        <a class="nav-link" [routerLink]= "['Donde']" >¿Donde Estamos?</a>
      </li>
      <li class="nav-item"  routerLinkActive= "active">
        <a class="nav-link" [routerLink]= "['SeaParte']" >Sea Parte!</a>
      </li>
      <li class="nav-item"  routerLinkActive= "active">
        <a class="nav-link" [routerLink]= "['Noticias']">Mantengase Actualizado</a>
      </li>
      <li class="nav-item"  routerLinkActive= "active">
        <a class="nav-link" [routerLink]= "['Contactenos']" >Contactenos</a>
      </li>
    </ul>
  </div>
</nav>
